@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 20px;
  font-weight: 700;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 0.5rem;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .calc {
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .calc .calc-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 25px;
}

body .calc .calc-header .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .calc .calc-header .theme .theme-toggle {
  width: 60px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .calc .calc-header .theme .theme-toggle .theme-id {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .calc .calc-header .theme .theme-toggle .toggle {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .calc .calc-header .theme .theme-toggle .toggle .red-circle {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 0 2.5px;
}

body .calc .calc-screen {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  overflow-x: auto;
}

body .calc .calc-screen .screen-result {
  width: 90%;
  height: 50px;
  text-align: end;
}

body .calc .calc-screen::-webkit-scrollbar {
  height: 15px;
}

body .calc .calc-screen::-webkit-scrollbar-button {
  background: transparent;
}

body .calc .calc-screen::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body .calc .calc-buttons {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .calc .calc-buttons .container-buttons {
  width: 87.5%;
  height: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

body .calc .calc-buttons button {
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

body .calc .calc-buttons .delete {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  font-size: 0.65rem;
}

body .calc .calc-buttons .reset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 0.65rem;
}

body .calc .calc-buttons .equal {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  font-size: 0.65rem;
}

body .calc .modalIn,
body .calc .modalOut {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .calc .modalIn img,
body .calc .modalOut img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -8px;
  top: -8px;
}

body .calc .modalIn p,
body .calc .modalOut p {
  width: 80%;
  text-align: justify;
  text-indent: 15px;
  font-size: 14px;
}

body .calc .modalIn.active,
body .calc .modalOut.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .calc .modalIn {
  -webkit-animation: modalIn 0.3s forwards;
          animation: modalIn 0.3s forwards;
}

body .calc .modalOut {
  -webkit-animation: modalOut 0.3s forwards;
          animation: modalOut 0.3s forwards;
}

@-webkit-keyframes modalIn {
  from {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  to {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  to {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes modalOut {
  from {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes modalOut {
  from {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

/* Theme 1 */
body.theme-1 {
  background: #3a4764;
  color: #fff;
}

body.theme-1 .calc .calc-header .toggle {
  background: #182034;
}

body.theme-1 .calc .calc-header .toggle .red-circle {
  background: #d03f2f;
}

body.theme-1 .calc .calc-screen {
  background: #182034;
}

body.theme-1 .calc .calc-screen::-webkit-scrollbar-thumb {
  background: #232c43;
}

body.theme-1 .calc .calc-buttons {
  background: #182034;
}

body.theme-1 .calc .calc-buttons button {
  background: #eae3dc;
  -webkit-box-shadow: inset 0 -5px #b4a597;
          box-shadow: inset 0 -5px #b4a597;
  color: #182034;
}

body.theme-1 .calc .calc-buttons button.number:active,
body.theme-1 .calc .calc-buttons button.token:active,
body.theme-1 .calc .calc-buttons button.comma:active {
  background: #b4a597;
}

body.theme-1 .calc .calc-buttons button.delete:active,
body.theme-1 .calc .calc-buttons button.reset:active {
  background: #404e72;
}

body.theme-1 .calc .calc-buttons button.equal:active {
  background: #93261a;
}

body.theme-1 .calc .calc-buttons .delete {
  background: #637097;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #404e72;
          box-shadow: inset 0 -5px #404e72;
}

body.theme-1 .calc .calc-buttons .reset {
  background: #637097;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #404e72;
          box-shadow: inset 0 -5px #404e72;
}

body.theme-1 .calc .calc-buttons .equal {
  background: #d03f2f;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #93261a;
          box-shadow: inset 0 -5px #93261a;
}

body.theme-1 .calc .modalIn,
body.theme-1 .calc .modalOut {
  background: #eae3dc;
  -webkit-box-shadow: inset 0 -5px #b4a597, 0 0px 30px 10px #182034;
          box-shadow: inset 0 -5px #b4a597, 0 0px 30px 10px #182034;
}

body.theme-1 .calc .modalIn p,
body.theme-1 .calc .modalOut p {
  color: #444b5a;
}

/* Theme 2 */
body.theme-2 {
  background: #e6e6e6;
  color: #35352c;
}

body.theme-2 .calc .calc-header .toggle {
  background: #d1cccc;
}

body.theme-2 .calc .calc-header .toggle .red-circle {
  background: #ca5502;
}

body.theme-2 .calc .calc-screen {
  background: #ededed;
}

body.theme-2 .calc .calc-screen::-webkit-scrollbar-thumb {
  background: #d1cccc;
}

body.theme-2 .calc .calc-buttons {
  background: #d1cccc;
}

body.theme-2 .calc .calc-buttons button {
  background: #e5e4e1;
  -webkit-box-shadow: inset 0 -5px #a69d91;
          box-shadow: inset 0 -5px #a69d91;
  color: #35352c;
}

body.theme-2 .calc .calc-buttons button.number:active,
body.theme-2 .calc .calc-buttons button.token:active,
body.theme-2 .calc .calc-buttons button.comma:active {
  background: #a69d91;
}

body.theme-2 .calc .calc-buttons button.delete:active,
body.theme-2 .calc .calc-buttons button.reset:active {
  background: #1b5f65;
}

body.theme-2 .calc .calc-buttons button.equal:active {
  background: #893901;
}

body.theme-2 .calc .calc-buttons .delete {
  background: #377f86;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #1b5f65;
          box-shadow: inset 0 -5px #1b5f65;
}

body.theme-2 .calc .calc-buttons .reset {
  background: #377f86;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #1b5f65;
          box-shadow: inset 0 -5px #1b5f65;
}

body.theme-2 .calc .calc-buttons .equal {
  background: #ca5502;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #893901;
          box-shadow: inset 0 -5px #893901;
}

body.theme-2 .calc .modalIn,
body.theme-2 .calc .modalOut {
  background: #377f86;
  -webkit-box-shadow: inset 0 -5px #1b5f65, 0 0px 30px 10px #893901;
          box-shadow: inset 0 -5px #1b5f65, 0 0px 30px 10px #893901;
}

body.theme-2 .calc .modalIn p,
body.theme-2 .calc .modalOut p {
  color: #fff;
}

/* Theme 3 */
body.theme-3 {
  background: #160628;
  color: #ffe53d;
}

body.theme-3 .calc .calc-header .toggle {
  background: #1d0934;
}

body.theme-3 .calc .calc-header .toggle .red-circle {
  background: #00e0d1;
}

body.theme-3 .calc .calc-screen {
  background: #1d0934;
}

body.theme-3 .calc .calc-screen::-webkit-scrollbar-thumb {
  background: #1b2428;
}

body.theme-3 .calc .calc-buttons {
  background: #1d0934;
}

body.theme-3 .calc .calc-buttons button {
  background: #341c4f;
  -webkit-box-shadow: inset 0 -5px #871c9c;
          box-shadow: inset 0 -5px #871c9c;
  color: #ffe53d;
}

body.theme-3 .calc .calc-buttons button.number:active,
body.theme-3 .calc .calc-buttons button.token:active,
body.theme-3 .calc .calc-buttons button.comma:active {
  background: #871c9c;
}

body.theme-3 .calc .calc-buttons button.delete:active,
body.theme-3 .calc .calc-buttons button.reset:active {
  background: #bc15f4;
}

body.theme-3 .calc .calc-buttons button.equal:active {
  background: #6cf9f2;
}

body.theme-3 .calc .calc-buttons .delete {
  background: #58077d;
  color: white;
  -webkit-box-shadow: inset 0 -5px #bc15f4;
          box-shadow: inset 0 -5px #bc15f4;
}

body.theme-3 .calc .calc-buttons .reset {
  background: #58077d;
  color: white;
  -webkit-box-shadow: inset 0 -5px #bc15f4;
          box-shadow: inset 0 -5px #bc15f4;
}

body.theme-3 .calc .calc-buttons .equal {
  background: #00e0d1;
  color: #1b2428;
  -webkit-box-shadow: inset 0 -5px #6cf9f2;
          box-shadow: inset 0 -5px #6cf9f2;
}

body.theme-3 .calc .modalIn,
body.theme-3 .calc .modalOut {
  background: #58077d;
  -webkit-box-shadow: inset 0 -5px #bc15f4, 0 0px 30px 10px #00e0d1;
          box-shadow: inset 0 -5px #bc15f4, 0 0px 30px 10px #00e0d1;
}

body.theme-3 .calc .modalIn p,
body.theme-3 .calc .modalOut p {
  color: #ffe53d;
}
/*# sourceMappingURL=main.css.map */