@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import "./variables";

* {
    margin: 0;
    padding: 0;
    font-family: "Spartan", sans-serif;
}

html {
    font-size: 20px;
    font-weight: 700;
    font-family: "Spartan", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background: #160628;
        --toggle-background: #1d0934;
        --screen-background: #1d0934;
        --number: #341c4f;
        --number-shadow: #871c9c;
        --delete-reset: #58077d;
        --delete-reset-shadow: #bc15f4;
        --equal-key: #00e0d1;
        --equal-shadow-key: #6cf9f2;
        --text-main: #ffe53d;
        --text-number: #ffe53d;
        --text-del-and-reset: #ffffff;
        --text-equal: #1b2428;
        --modal-background: #00e0d1;
        --modal-shadow: #6cf9f2;
        --modal-out-shadow: #58077d;
        --modal-text: #1b2428;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-background: #3a4764;
        --toggle-background: #232c43;
        --screen-background: #182034;
        --number: #eae3dc;
        --number-shadow: #b4a597;
        --delete-reset: #637097;
        --delete-reset-shadow: #404e72;
        --equal-key: #d03f2f;
        --equal-shadow-key: #93261a;
        --text-main: #ffffff;
        --text-number: #3a4764;
        --text-del-and-reset: #ffffff;
        --text-equal: #ffffff;
        --modal-background: #eae3dc;
        --modal-shadow: #b4a597;
        --modal-out-shadow: #182034;
        --modal-text: #3a4764;
    }
}

body[data-theme="1"] {
    --main-background: #3a4764;
    --toggle-background: #232c43;
    --screen-background: #182034;
    --number: #eae3dc;
    --number-shadow: #b4a597;
    --delete-reset: #637097;
    --delete-reset-shadow: #404e72;
    --equal-key: #d03f2f;
    --equal-shadow-key: #93261a;
    --text-main: #ffffff;
    --text-number: #3a4764;
    --text-del-and-reset: #ffffff;
    --text-equal: #ffffff;
    --modal-background: #eae3dc;
    --modal-shadow: #b4a597;
    --modal-out-shadow: #182034;
    --modal-text: #3a4764;

    .red-circle {
        animation: theme1 0.3s forwards;
    }

    @keyframes theme1 {
        from {
            left: calc(100% - 20px);
        }
        to {
            left: 0;
        }
    }
}

body[data-theme="2"] {
    --main-background: #e6e6e6;
    --toggle-background: #d1cccc;
    --screen-background: #ededed;
    --number: #e5e4e1;
    --number-shadow: #a69d91;
    --delete-reset: #377f86;
    --delete-reset-shadow: #1b5f65;
    --equal-key: #ca5502;
    --equal-shadow-key: #893901;
    --text-main: #35352c;
    --text-number: #35352c;
    --text-del-and-reset: #ffffff;
    --text-equal: #ffffff;
    --modal-background: #e5e4e1;
    --modal-shadow: #a69d91;
    --modal-out-shadow: #377f86;
    --modal-text: #35352c;

    .red-circle {
        animation: theme2 0.3s forwards;
    }

    @keyframes theme2 {
        from {
            left: 0;
        }
        to {
            left: calc(50% - 12.5px);
        }
    }
}

body[data-theme="3"] {
    --main-background: #160628;
    --toggle-background: #1d0934;
    --screen-background: #1d0934;
    --number: #341c4f;
    --number-shadow: #871c9c;
    --delete-reset: #58077d;
    --delete-reset-shadow: #bc15f4;
    --equal-key: #00e0d1;
    --equal-shadow-key: #6cf9f2;
    --text-main: #ffe53d;
    --text-number: #ffe53d;
    --text-del-and-reset: #ffffff;
    --text-equal: #1b2428;
    --modal-background: #00e0d1;
    --modal-shadow: #6cf9f2;
    --modal-out-shadow: #58077d;
    --modal-text: #1b2428;

    .red-circle {
        animation: theme3 0.3s forwards;
    }

    @keyframes theme3 {
        from {
            left: calc(50% - 12.5px);
        }
        to {
            left: calc(100% - 20px);
        }
    }
}

body {
    @include sizeDimension(100vw, 100vh);
    @include alignment(row, center, center);
    background: var(--main-background);
    color: var(--text-main);
    margin: 0;
    transition: 0.5s;

    .calc {
        @include sizeDimension(500px, 100%);
        @include alignment(column, center, center);

        .calc-header {
            @include sizeJustWidth(100%);
            @include alignment(row, space-between, flex-end);
            margin-bottom: 25px;

            h1 {
                font-size: 1.25rem;
            }

            p {
                font-size: 0.5rem;
            }

            .theme {
                @include alignment(row, initial, flex-end);

                .theme-toggle {
                    @include sizeJustWidth(60px);
                    @include alignment(column, center, center);
                    margin-left: 20px;

                    .theme-id {
                        @include sizeJustWidth(70%);
                        @include alignment(row, space-between, center);
                        cursor: default;
                    }

                    .toggle {
                        @include sizeDimension(100%, 20px);
                        @include alignment(row, center, center);
                        background: var(--toggle-background);
                        border-radius: 20px;
                        cursor: pointer;
                        position: relative;

                        .red-circle {
                            @include sizeDimension(15px, 15px);
                            background: var(--equal-key);
                            border-radius: 10px;
                            margin: 0 2.5px;
                            position: absolute;
                        }
                    }
                }
            }
        }

        .calc-screen {
            @include sizeDimension(100%, 100px);
            @include alignment(row, center, center);
            background: var(--screen-background);
            margin-bottom: 25px;
            border-radius: 10px;
            overflow-x: auto;

            .screen-result {
                @include sizeJustWidth(90%);
                font-size: 2rem;
                text-align: end;
            }
        }

        .calc-screen::-webkit-scrollbar {
            height: 15px;
        }

        .calc-screen::-webkit-scrollbar-button {
            background: transparent;
        }

        .calc-screen::-webkit-scrollbar-thumb {
            background: var(--toggle-background);
            border-radius: 10px;
        }

        .calc-buttons {
            @include sizeDimension(100%, 400px);
            @include alignment(row, center, center);
            background: var(--toggle-background);
            border-radius: 10px;

            .container-buttons {
                @include sizeDimension(87.5%, 85%);
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 20px;
            }

            button {
                border: none;
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                cursor: pointer;
            }

            button.number,
            button.token,
            button.comma {
                background: var(--number);
                box-shadow: inset 0 -5px var(--number-shadow);
                color: var(--text-number);
            }

            button.number:active,
            button.token:active,
            button.comma:active {
                background: var(--number-shadow-key);
            }

            button.delete,
            button.reset {
                background: var(--delete-reset);
                color: var(--text-del-and-reset);
                box-shadow: inset 0 -5px var(--delete-reset-shadow);
                font-size: 0.8rem;
            }

            button.delete:active,
            button.reset:active {
                background: var(--delete-reset-shadow);
            }

            button.reset {
                grid-column: 1/3;
            }

            button.equal {
                background: var(--equal-key);
                color: var(--text-equal);
                box-shadow: inset 0 -5px var(--equal-shadow-key);
                grid-column: 3/5;
                font-size: 1rem;
            }

            button.equal:active {
                background: var(--equal-shadow-key);
            }
        }

        .modalIn,
        .modalOut {
            @include sizeDimension(300px, 100px);
            background: var(--modal-background);
            box-shadow: inset 0 -5px var(--modal-shadow), 0 0px 30px 10px var(--modal-out-shadow);
            border-radius: 10px;
            position: fixed;
            display: none;
            justify-content: center;
            align-items: center;
            img {
                @include sizeDimension(30px, 30px);
                position: absolute;
                left: -8px;
                top: -8px;
            }
            p {
                @include sizeJustWidth(80%);
                color: var(--modal-text);
                text-align: justify;
                text-indent: 15px;
                font-size: 14px;
            }
        }

        .modalIn.active,
        .modalOut.active {
            display: flex;
        }

        .modalIn {
            animation: modalIn 0.3s forwards;
        }

        .modalOut {
            animation: modalOut 0.3s forwards;
        }

        @keyframes modalIn {
            from {
                top: -50px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
            }
            to {
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 1;
            }
        }
        @keyframes modalOut {
            from {
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 1;
            }
            to {
                top: -50px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
            }
        }
    }
}

@media (max-width: 530px) {
    body {
        .calc {
            @include sizeJustWidth(90%);
            @include alignment(column, space-evenly, center);

            .calc-header {
                margin-bottom: 0;

                h1 {
                    font-size: 1.75rem;
                }

                p {
                    font-size: 0.6rem;
                }

                .theme {
                    .theme-toggle {
                        @include sizeJustWidth(70px);

                        .theme-id {
                            @include sizeJustWidth(70%);
                            margin-bottom: 5px;
                        }
                        .toggle {
                            @include sizeDimension(100%, 30px);

                            .red-circle {
                                @include sizeDimension(18px, 18px);
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }

            .calc-screen {
                margin-bottom: 0;

                .screen-result {
                    @include sizeDimension(85%, auto);
                    font-size: 1.5rem;
                }
            }

            .calc-buttons {
                @include sizeDimension(100%, 450px);

                .container-buttons {
                    height: 90%;
                    gap: 12.5px;
                }

                button {
                    font-size: 1.5rem;
                    border-radius: 5px;
                }

                .delete,
                .reset,
                .equal {
                    font-size: 0.9rem;
                }
            }

            .modalIn,
            .modalOut {
                p {
                    @include sizeJustWidth(90%);
                    text-indent: 20px;
                    font-size: 0.75rem;
                }
            }
        }
    }
}
