@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
/* Theme 1 */
html {
  font-size: 20px;
  font-weight: 700;
  font-family: "Spartan", sans-serif;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 1rem;
}

p {
  font-size: 0.5rem;
}

h2 {
  font-size: 2rem;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #3a4764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .calc {
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .calc .calc-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 25px;
}

body .calc .calc-header .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .calc .calc-header .theme .theme-toggle {
  width: 60px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .calc .calc-header .theme .theme-toggle .theme-id {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .calc .calc-header .theme .theme-toggle .toggle {
  width: 100%;
  height: 20px;
  background: #182034;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .calc .calc-header .theme .theme-toggle .toggle .red-circle {
  width: 15px;
  height: 15px;
  background: #d03f2f;
  border-radius: 10px;
  margin: 0 2.5px;
}

body .calc .calc-screen {
  width: 100%;
  height: 100px;
  background: #182034;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  overflow-x: auto;
}

body .calc .calc-screen .screen-result {
  width: 90%;
  height: 50px;
  text-align: end;
}

body .calc .calc-screen::-webkit-scrollbar {
  height: 15px;
}

body .calc .calc-screen::-webkit-scrollbar-button {
  background: transparent;
}

body .calc .calc-screen::-webkit-scrollbar-thumb {
  background: #232c43;
  border-radius: 10px;
}

body .calc .calc-buttons {
  width: 100%;
  height: 400px;
  background: #182034;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .calc .calc-buttons .container-buttons {
  width: 87.5%;
  height: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

body .calc .calc-buttons button {
  background: #eae3dc;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 -5px #b4a597;
          box-shadow: inset 0 -5px #b4a597;
  font-size: 1.2rem;
  font-weight: bold;
  color: #182034;
  cursor: pointer;
}

body .calc .calc-buttons button.number:active,
body .calc .calc-buttons button.token:active,
body .calc .calc-buttons button.comma:active {
  background: #b4a597;
}

body .calc .calc-buttons button.delete:active,
body .calc .calc-buttons button.reset:active {
  background: #404e72;
}

body .calc .calc-buttons button.equal:active {
  background: #93261a;
}

body .calc .calc-buttons .delete {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  background: #637097;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #404e72;
          box-shadow: inset 0 -5px #404e72;
  font-size: 0.65rem;
}

body .calc .calc-buttons .reset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #637097;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #404e72;
          box-shadow: inset 0 -5px #404e72;
  font-size: 0.65rem;
}

body .calc .calc-buttons .equal {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background: #d03f2f;
  color: #fff;
  -webkit-box-shadow: inset 0 -5px #93261a;
          box-shadow: inset 0 -5px #93261a;
  font-size: 0.65rem;
}

body .calc .modal {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: #eae3dc;
  -webkit-box-shadow: inset 0 -5px #b4a597, 0 0px 30px 20px #182034;
          box-shadow: inset 0 -5px #b4a597, 0 0px 30px 20px #182034;
  position: fixed;
  -webkit-animation: modalIn 0.3s forwards;
          animation: modalIn 0.3s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .calc .modal img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -8px;
  top: -8px;
}

body .calc .modal p {
  width: 80%;
  height: 90%;
  text-align: justify;
  text-indent: 15px;
  color: #182034;
  font-size: 14px;
}

body .calc .modal.out {
  -webkit-animation: modalOut 0.3s forwards;
          animation: modalOut 0.3s forwards;
}

@-webkit-keyframes modalIn {
  from {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  to {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  to {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes modalOut {
  from {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes modalOut {
  from {
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */